@charset "ISO-8859-1";

body {
	width: 100%;
	margin: 0;
	padding: 0;
}

#titulo h1 {
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.9em;
	margin-bottom: 0.5em;
	font-size: 50px;
}

#linha1 {
	align-items: center;
	justify-content: space-between;
	background-color: #ffff;
	padding: 2em;
}

#linha2 {
	align-items: center;
	justify-content: space-between;
	background-color: #F3F3F3;
	height: 0.1em;
}

#redirecionar {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#redirecionar p {
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

#formulario {
	margin-right: 8em;
	margin-left: 8em;
}

#textcampo p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 17px;
}

#textcampo input {
	width: 30em;
}

#textcampo select {
	width: 30em;
}

table {
	margin-top: 1em;
	margin-left: 2em;
}

table tr td {
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
}

#button {
	margin-left: 3em;
	margin-right: 10em;
	align-items: flex-end;
	text-align: right;
}

spam {
	margin-left: 10em;
	align-items: flex-end;
	text-align: right;
}