@charset "ISO-8859-1";

body {
	width: 100%;
	margin: 0;
	padding: 0;
}

#text{
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15em;
	margin-bottom: 15em;
	 
}