@charset "ISO-8859-1";

body{
	width: 100%;
    margin: 0;
    padding: 0;
}

#titulo{
	text-align: left;
	height: 4em;
	margin-top:4em;
	margin-left:10em;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#linha1 {
	align-items: center;
	justify-content: space-between;
	background-color: #ffff;
	padding: 8em;
}

#linha2 {
	align-items: center;
	justify-content: space-between;
	background-color: #ffff;
	padding: 2em;
}

#tabelaResultado{
	margin-left: 10em;
	width: 80%;
}